In [20]:
import pandas as pd
import datetime

In [2]:
bt = pd.read_csv('BlipTrack 2021.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [54]:
px = pd.read_csv('pax_ts.csv')

In [55]:
px.rename({'Unnamed: 0':'ts10'},axis=1,inplace=True)
px['ts10'] = pd.to_datetime(px['ts10'])
#px.set_index('ts10',inplace=True)
px = px[['ts10','date','pax_B1_dom', 'pax_B2_dom', 'pax_B3_dom', 'pax_B1_intl', 'pax_B2_intl',
       'pax_B3_intl','total_doses','holiday','seats_tr','seats_lc','tod_Afternoon', 'tod_Evening', 'tod_Morning','tod_Overnight']]
px = px.drop('date',axis=1)
px.head()

,ts10,pax_B1_dom,pax_B2_dom,pax_B3_dom,pax_B1_intl,pax_B2_intl,pax_B3_intl,total_doses,holiday,seats_tr,seats_lc,tod_Afternoon,tod_Evening,tod_Morning,tod_Overnight
0,2021-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1
1,2021-01-01 00:10:00,0.0,0.0,0.0,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1
2,2021-01-01 00:20:00,0.0,0.0,0.0,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1
3,2021-01-01 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1
4,2021-01-01 00:40:00,0.0,0.0,0.0,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1

In [56]:
px['ts10'][1]

Timestamp('2021-01-01 00:10:00')

In [ ]:
#'"%Y-%m-%d %H:%M:%S"'

In [14]:
bt.head()

,Date,Military Hour,10 Min Block,PA Airport Code,Terminal Desc,Location Hierarchy - Location Type,Location Hierarchy - Sensor Area,Total People Count
0,2021/1/1,0.0,40.0,EWR,EWR-Terminal B,TSA,TB1-TSA,1
1,2021/1/1,0.0,0.0,EWR,EWR-Terminal B,TSA,TB3-TSA,2
2,2021/1/1,0.0,10.0,EWR,EWR-Terminal B,TSA,TB3-TSA,4
3,2021/1/1,0.0,20.0,EWR,EWR-Terminal B,TSA,TB3-TSA,7
4,2021/1/1,0.0,30.0,EWR,EWR-Terminal B,TSA,TB3-TSA,1

In [ ]:
lst_Date = []

In [17]:
bt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109509 entries, 0 to 109508
Data columns (total 8 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Date                                109508 non-null  object
 1   Military Hour                       109506 non-null  float64
 2   10 Min Block                        109506 non-null  float64
 3   PA Airport Code                     109506 non-null  object
 4   Terminal Desc                       109506 non-null  object
 5   Location Hierarchy - Location Type  109506 non-null  object
 6   Location Hierarchy - Sensor Area    109506 non-null  object
 7   Total People Count                  109507 non-null  object
dtypes: float64(2), object(6)
memory usage: 6.7+ MB

In [76]:
Date = []
Hour = []
Minute = []

In [25]:
type(px['ts10'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [77]:
#Example
for i in range(0,len(px['ts10'])):
    input = str(px['ts10'][i])
    d = datetime.datetime.strptime(input, "%Y-%m-%d %H:%M:%S").strftime('%Y/%-m/%-d')
    h = datetime.datetime.strptime(input, "%Y-%m-%d %H:%M:%S").strftime('%H')
    m = datetime.datetime.strptime(input, "%Y-%m-%d %H:%M:%S").strftime('%M')
    Date.append(d)
    Hour.append(float(h))
    Minute.append(float(m))

In [33]:
Date

['2021/1/1', '2021/1/1', '2021/1/1']

In [36]:
Hour

[0.0, 0.0, 0.0]

In [37]:
Minute

[0.0, 10.0, 20.0]

In [38]:
bt.head(1)

,Date,Military Hour,10 Min Block,PA Airport Code,Terminal Desc,Location Hierarchy - Location Type,Location Hierarchy - Sensor Area,Total People Count
0,2021/1/1,0.0,40.0,EWR,EWR-Terminal B,TSA,TB1-TSA,1

In [59]:
bt['Location Hierarchy - Sensor Area'].unique()

array(['TB1-TSA', 'TB3-TSA', 'TB2-TSA', nan], dtype=object)

In [78]:
bt = bt.rename(columns={"Military Hour": "Hour","10 Min Block":"Minute"})

In [79]:
#Create three dataframes for three concourses
c1 = bt.loc[bt['Location Hierarchy - Sensor Area']=='TB1-TSA'][['Date','Hour','Minute','Total People Count']]
c2 = bt.loc[bt['Location Hierarchy - Sensor Area']=='TB2-TSA'][['Date','Hour','Minute','Total People Count']]
c3 = bt.loc[bt['Location Hierarchy - Sensor Area']=='TB3-TSA'][['Date','Hour','Minute','Total People Count']]

In [80]:
#Rename the columns
c1 = c1.rename(columns={"Total People Count": "pax_C1"})
c2 = c2.rename(columns={"Total People Count": "pax_C2"})
c3 = c3.rename(columns={"Total People Count": "pax_C3"})

In [88]:
c1.shape

(40336, 4)

In [89]:
c2.shape

(19736, 4)

In [92]:
c3.shape

(49434, 4)

In [96]:
v1 = pd.merge(c1, c2, on=['Date','Hour','Minute'],how='left').fillna(0)

In [97]:
v2 = pd.merge(v1, c3, on=['Date','Hour','Minute'],how='right').fillna(0)

In [98]:
v2.shape

(49434, 6)

In [99]:
v2.head()

       Date  Hour  Minute pax_C1 pax_C2 pax_C3
0  2021/1/1   0.0     0.0      0      0      2
1  2021/1/1   0.0    10.0      0      0      4
2  2021/1/1   0.0    20.0      0      0      7
3  2021/1/1   0.0    30.0      0      0      1
4  2021/1/1   0.0    40.0      1      0      2

In [86]:
c2.shape

(19736, 4)

In [74]:
c1.head()

        Date  Hour  Minute pax_C1
0   2021/1/1   0.0    40.0      1
7   2021/1/1   1.0     0.0      1
8   2021/1/1   1.0    10.0      1
9   2021/1/1   1.0    20.0      2
15  2021/1/1   3.0     0.0      1

In [81]:
px['Date'] = Date
px['Hour'] = Hour
px['Minute'] = Minute

In [68]:
px.head(10)

,ts10,pax_B1_dom,pax_B2_dom,pax_B3_dom,pax_B1_intl,pax_B2_intl,pax_B3_intl,total_doses,holiday,seats_tr,seats_lc,tod_Afternoon,tod_Evening,tod_Morning,tod_Overnight,Date,Hour,Minute
0,2021-01-01 00:00:00,0.0,0.0,0.000000,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1,2021/1/1,0.0,0.0
1,2021-01-01 00:10:00,0.0,0.0,0.000000,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1,2021/1/1,0.0,10.0
2,2021-01-01 00:20:00,0.0,0.0,0.000000,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1,2021/1/1,0.0,20.0
3,2021-01-01 00:30:00,0.0,0.0,0.000000,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1,2021/1/1,0.0,30.0
4,2021-01-01 00:40:00,0.0,0.0,0.000000,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1,2021/1/1,0.0,40.0
5,2021-01-01 00:50:00,0.0,0.0,213.448633,0.0,0.0,0.0,4438527,1,0.0,228.0,0,0,0,1,2021/1/1,0.0,50.0
6,2021-01-01 01:00:00,0.0,0.0,0.000000,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1,2021/1/1,1.0,0.0
7,2021-01-01 01:10:00,0.0,0.0,0.000000,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1,2021/1/1,1.0,10.0
8,2021-01-01 01:20:00,0.0,0.0,0.000000,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1,2021/1/1,1.0,20.0
9,2021-01-01 01:30:00,0.0,0.0,0.000000,0.0,0.0,0.0,4438527,1,0.0,0.0,0,0,0,1,2021/1/1,1.0,30.0

In [84]:
px.shape

(52560, 18)

In [85]:
c1.shape

(40336, 4)

In [103]:
df_exp = pd.merge(px, v2, on=['Date','Hour','Minute'],how='left')

In [104]:
df_exp.head()

,ts10,pax_B1_dom,pax_B2_dom,pax_B3_dom,pax_B1_intl,pax_B2_intl,pax_B3_intl,total_doses,holiday,seats_tr,...,tod_Afternoon,tod_Evening,tod_Morning,tod_Overnight,Date,Hour,Minute,pax_C1,pax_C2,pax_C3
0,2021-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,4438527,1,0.0,...,0,0,0,1,2021/1/1,0.0,0.0,0,0,2
1,2021-01-01 00:10:00,0.0,0.0,0.0,0.0,0.0,0.0,4438527,1,0.0,...,0,0,0,1,2021/1/1,0.0,10.0,0,0,4
2,2021-01-01 00:20:00,0.0,0.0,0.0,0.0,0.0,0.0,4438527,1,0.0,...,0,0,0,1,2021/1/1,0.0,20.0,0,0,7
3,2021-01-01 00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,4438527,1,0.0,...,0,0,0,1,2021/1/1,0.0,30.0,0,0,1
4,2021-01-01 00:40:00,0.0,0.0,0.0,0.0,0.0,0.0,4438527,1,0.0,...,0,0,0,1,2021/1/1,0.0,40.0,1,0,2

In [105]:
df_exp.to_csv('df_exp.csv')

In [106]:
from google.colab import files
files.download("df_exp.csv")